
.container {
  width: 710px;
}

body {
  background: #fff;
}

header {
  padding-top: 20px;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.5em 0;
}

nav ul li a {
  padding: 0 7px;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}


/* Round Corners */

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}
