<table class="profile" summary="Profile Information">
  <tr>
    <td class="main">
      <strong>Name</strong> <%= @user.full_name %><br />
      <strong>Email</strong> <%= @user.email %>
    </td>
  </tr>
</table>
