<% if signed_in? %>
  <table>
    <td>
      <%= link_to "Add Project", new_project_path, :class => "signup_button round" %>
    </td>
    <td>
      <%= link_to "View projects", "#", :class => "signup_button round" %>
    </td>
  </table>
<% else %>
  <div>
    <center>
      <h1>dooer! the simple task completion tool</h1>
      <br />
    </center>
  </div>

  <%= link_to "Sign in", signin_path, :class => 'round signup_button' %>
<% end %>
